body {
    background-color: grey ;
  }
.back1 {
    color: blue;
}
#imgBox {
    display: flex;
    flex-wrap: wrap;
}

#imgBox img {
    width: 25%;
    min-width: 100px;
}
.mainTitle {
    text-align:center;
}

.workoutSection {
    text-align: center;
}
.search1 {
    margin-left: 43%;
    margin-right: 40%;
}